body{
    margin: 0;
    padding: 0;
    background: url(../img/conjunto2.jpg) no-repeat center top;
    background-size: cover; 
    font-family: sans-serif;
    height: 100vh;
}

.login_box{
    width: 320px;
    height: 530px;
    background-color: #eeeaeac5;
    color: rgb(32, 31, 31);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login_box .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 110px;
}

.login_box h1{
    margin-top: -10px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login_box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login_box input{
    width: 100%;
    margin-bottom: 25px;
}

.login_box input[type="password"],
.login_box input[type="text"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login_box input[type="submit"]{
    margin-top: -10px;
    border: none;
    outline: none;
    height: 40px;
    background: #5557d1;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    opacity: 0.8;
    cursor: pointer;
}

.login_box input[type="submit"]:hover{
    opacity: 1;
}

.login_box input[type="submit"]:active{
    transform: scale(0.95);
}


.login_box input[type="button"]{
    margin-top: 10px;
    border: none;
    outline: none;
    height: 40px;
    background: #272854;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    opacity: 0.8;
    cursor: pointer;
}

.login_box input[type="button"]:hover{
    opacity: 1;
}

.login_box input[type="button"]:active{
    transform: scale(0.90);
}

.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
    margin-top: -30px;
    text-align: left;
}

.link:hover{
     color: rgb(56, 56, 56);
}